@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* Custom Leaflet Map styling overrides */
.leaflet-container {
  background-color: #0b192c !important;
  font-family: 'Inter', sans-serif !important;
}

.leaflet-popup-content-wrapper {
  background-color: #0f172a !important;
  color: #f8fafc !important;
  border-radius: 16px !important;
  border: 1px solid #1e3e62 !important;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5) !important;
}

.leaflet-popup-tip {
  background-color: #0f172a !important;
}
